html {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Embedded Open Sans";
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  position: static;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  margin: 0 0 25px;
  padding: 0;
  font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
  color: #999;
}

h1 { font-size: 50px; }
h2 { font-size: 42px; }
h3 { font-size: 36px; }
h4 { font-size: 28px; }
h5 { font-size: 20px; }
h6 { font-size: 12px; }

p {
  font-weight: 100;
  font-size: 25px;
  line-height: 37.5px;
  margin: 0 0 25px;
  padding: 0;
}

p.lead {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 15px;
}

p.small {
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #148ef7;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -ms-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

a:hover {
  color: #a6d6ff;
}

dt,
dt {
  font-size: 16px;
  line-height: 24px;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  min-height: 100%;
  padding: 35px 0;
}

.menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #148ef7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  z-index: 9998;
  -webkit-transition: height 0.25s ease;
  -moz-transition: height 0.25s ease;
  -ms-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.menu .links {
  position: absolute;
  top: 50%;
  right: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;
}

.menu .links li {
  line-height: 35px;
}

.menu .links li:nth-child(1),
.menu .links li:nth-child(5) {
  margin-right: -33px;
}

.menu .links li:nth-child(2),
.menu .links li:nth-child(4) {
  margin-right: -10px;
}

.menu .links a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: padding-right 0.25s ease;
  -moz-transition: padding-right 0.25s ease;
  -ms-transition: padding-right 0.25s ease;
  transition: padding-right 0.25s ease;
}

.menu .links a:hover {
  padding-right: 15px;
}

.menu .links a .fa {
  margin-left: 7px;
  -webkit-transition: text-shadow 0.25s ease;
  -moz-transition: text-shadow 0.25s ease;
  -ms-transition: text-shadow 0.25s ease;
  transition: text-shadow 0.25s ease;
}

.menu .links a:hover .fa {
  text-shadow: 0 0 10px #fff;
}

.menu .expand-menu {
  display: none;
  background-color: #a6d6ff;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 10000;
  outline: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: blue-background 1s infinite alternate;
  -moz-animation: blue-background 1s infinite alternate;
  animation: blue-background 1s infinite alternate;
}

.me {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 25%;
}

.me img {
  width: 150px;
  height: 150px;
  border: 10px solid #a6d6ff;
  border-radius: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.me-big img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.section {
  min-height: 768px;
  padding: 30px 15px 15px 115px;
}

.section:nth-child(4n) {
  background-color: #f4f4f4;
}

.mobile-only {
  display: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  position: absolute;
  top: 50%;
  right: 0;
  width: 65%;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.intro div {
  text-align: center;
  width: 33%;
  font-size: 30px;
}

.timeline {
  position: relative;
  margin: 0;
}

.timeline dt {
  position: absolute;
  border-left: 5px solid #a6d6ff;
  padding-left: 10px;
}

.timeline dt span {
  color: #888;
}

.timeline dt + dd {
  font-weight: 600;
  text-transform: uppercase;
}

.timeline dt + dd + dd {
  font-weight: 500;
  text-transform: uppercase;
  color: #888;
}

.timeline dt + dd + dd + dd {
  margin-bottom: 30px;
}

.timeline dd {
  margin: 0 0 10px 180px;
}

@media (max-width: 900px) {
  .menu {
    width: 35%;
  }

  .container {
    width: 65%;
  }

  .me {
    left: 35%;
  }

  .intro {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  h1 { font-size: 41px; }
  h2 { font-size: 37px; }
  h3 { font-size: 34px; }
  h4 { font-size: 31px; }
  h5 { font-size: 28px; }
  h6 { font-size: 25px; }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  p.small {
    font-size: 16px;
    line-height: 24px;
  }

  .menu {
    width: 100%;
    top: auto;
    height: 50px;
    padding-top: 50px;
  }

  .menu.expanded {
    height: 350px;
  }

  .menu .links {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 50px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .menu .links li {
    line-height: 50px;
  }

  .menu .links a {
    font-size: 20px;
    font-weight: 400;
  }

  .menu .links a .fa {
    margin-right: 15px;
  }

  .menu .expand-menu {
    display: block;
  }

  .container {
    width: 100%;
  }

  .section {
    padding-left: 15px;
    min-height: 500px;
  }

  .me {
    display: none;
  }

  .intro {
    display: none;
  }
}

@-webkit-keyframes blue-background {
  0% { background-color: #148ef7; }
  100% { background-color: #a6d6ff; }
}

@-moz-keyframes blue-background {
  0% { background-color: #148ef7; }
  100% { background-color: #a6d6ff; }
}

@keyframes blue-background {
  0% { background-color: #148ef7; }
  100% { background-color: #a6d6ff; }
}